-- Add onboarding fields to user_profiles table
alter table public.user_profiles
add column if not exists onboarding_completed boolean not null default false,
add column if not exists onboarding_step text default 'phase_selection',
add column if not exists onboarding_data jsonb default '{}'::jsonb,
add column if not exists family_planning_goal text;

-- Update the check constraint for health_cycle_status to include new phases
alter table public.user_profiles drop constraint if exists user_profiles_health_cycle_status_check;
alter table public.user_profiles add constraint user_profiles_health_cycle_status_check
  check (health_cycle_status in ('pre-puberty', 'puberty', 'maternity', 'family-planning', 'menopause'));

-- Add indexes for onboarding fields
create index if not exists user_profiles_onboarding_completed_idx on public.user_profiles (onboarding_completed);
create index if not exists user_profiles_health_cycle_status_idx on public.user_profiles (health_cycle_status);

-- Update existing rows to have proper default values
update public.user_profiles
set onboarding_completed = coalesce(onboarding_completed, false),
    onboarding_step = coalesce(onboarding_step, 'phase_selection'),
    onboarding_data = coalesce(onboarding_data, '{}'::jsonb)
where onboarding_completed is null;
